@model IEnumerable<LabaISTP_2.Car>

@{
    ViewData["Title"] = "Автомобілі за кузовом";
}

<h1>Автомобілі за кузовом @ViewBag.BodyName</h1>

<p>
    @Html.ActionLink("Додати новий автомобіль", "CreateByBody", new { bodyId = ViewBag.BodyId })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Vin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Brand.BrandName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Body.BodyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Vin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.ColorName)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CarId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.CarId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.CarId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
